body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Consolas', 'Monaco', monospace;
    margin: 0;
    padding: 50px 20px;
}

.code-container {
    background: #252527;
    padding: 20px 0 !important;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    border: 1px solid #333;
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    cursor: text;
}

.line {
    display: block;
    width: 100%;
    padding: 2px 40px; /* Базовый отступ */
    box-sizing: border-box;
    margin: 0 !important;
    transition: background-color 0.05s;
}

.line:hover { background-color: #2a2d2e !important; }

/* Уровни вложенности (Табуляция) */
.i1 { padding-left: 65px !important; }
.i2 { padding-left: 90px !important; }
.i3 { padding-left: 115px !important; }

/* Цвета */
.keyword { color: #569cd6; }
.variable { color: #9cdcfe; }
.key { color: #4fc1ff; }
.string { color: #ce9178; }
.number { color: #b5cea8; }
.brace { color: #ffd700; }
.comment { color: #7f848e; font-style: italic; margin-left: 10px; }
.string a { color: inherit; text-decoration: underline; opacity: 0.8; }
.string a:hover { opacity: 1; color: #fff; }